html {
  overflow: hidden;
}

body {
  background-color: rgb(50, 50, 50);
  color: rgb(195,195,195);
  padding: 0px;
  margin: 0px;
}

#no-movies-msg {
  position: fixed;
  margin: auto;
  height: 90px;
  top: -10%; bottom: 0; left: 0; right: 0;
  line-height: 90px;
  text-align: center;
  font-size: 30px;
  display: none;
}

progress {
  position: fixed;
	width: 400px;
	height: 14px;
  margin: auto;
	top: -10%; bottom: 0; left: 0; right: 0;
	-webkit-appearance: none;
	border: none;
}

progress::-webkit-progress-bar {
	background: black;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #ba7448, #c4672d);

	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}

@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}

#title-bar {
  -webkit-app-region: drag;
  height: 30px;
  background-color: rgb(50,50,50);
  padding: none;
  margin: 5px;
}

#title {
  top: 11px;
  left: 9px;
  position: fixed;
}

#title-bar-btns {
  position: fixed;
  right: 7px;
  top: 7px;
  background-color: rgb(50,50,50);
  -webkit-app-region: no-drag;
}

.button {
  background-color:rgb(50,50,50);
  border: 1px solid rgb(33,33,33);
  color: white;
  padding: 3px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#main-section {
  height: 96vh;
  margin: 0 auto;
  overflow: auto;
}

#cover {
  position: fixed;
  background:rgba(0,0,0,0.8);
  z-index:1;
  width:100%;
  height:100%;
  display:none;
}

#rig {
  width: 100%;
  margin:0 auto;
  padding:0;
  font-size:0;
  list-style:none;
}

#rig li {
  display: inline-block;
  width:25%;
  vertical-align:middle;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

.rig-cell {
  display:block;
  position: relative;
  overflow:hidden;
}

.rig-img {
  display:block;
  width: 100%;
  height: auto;
  border:none;
  transform:scale(1);
  transition:all 1s;
}

#rig li:hover .rig-img {
  transform:scale(1.05);
}

.rig-overlay {
  position: absolute;
  display:block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: rgba(0, 0, 0, .8);
  opacity:0;
  transition:all 0.6s;
}

#rig li:hover .rig-overlay {
  opacity:0.8;
}

.rig-text {
  display:block;
  padding:0 30px;
  box-sizing:border-box;
  position:absolute;
  left: 0;
  top: 10px;
  width:100%;
  text-align:left;
  text-transform:capitalize;
  font-size:16px;
  font-weight:bold;
  font-family: 'Oswald', sans-serif;
  font-weight:normal;
  color:white;
  opacity:0;
  transform:translateY(-20px);
  transition:all .3s;
  cursor: pointer;
}

#rig li:hover .rig-text {
  transform:translateY(0px);
  opacity:0.9;
}

.delete_button {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 5px;
  right: 5px;
}

.download_button {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 5px;
  left: 5px;
}

#reviews-overlay {
  position: absolute;
  display:block;
  margin: auto;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  width: 80%;
  height: 80%;
  background: rgb(50, 50, 50);
  display: none;
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
  overflow: hidden;
  z-index: 2;
}

#reviews-title-bar {
  height: 44px;
  padding: none;
  background: rgb(33, 33, 33);
}

#reviews-close-btn {
  position: fixed;
  right: 11%;
  top: 11%;
}

#reviews-title {
  position: fixed;
  left: 11%;
  top: 11%;
  font-size: 26px;
}

#reviews {
  text-align: left;
  padding-left: 10px;
  font-size: 22px;
  background: rgb(50, 50, 50);
  height: 75vh;
  overflow: auto;
}

.yn, a {
  display: none;
}

hr {
  width: 99% !important;
  background-color: white;
}

@media (max-width: 2000px) {
  #rig li {
    width:20%;
  }
}

@media (max-width: 1400px) {
  #rig li {
    width:25%;
  }

  #reviews-title {
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  #rig li {
    width:33%;
  }

  #reviews-title {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  #rig li {
    width:50%;
  }

  #reviews-title {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  #rig li {
    width:100%;
  }

  #reviews-title {
    font-size: 14px;
  }
}

::-webkit-scrollbar {
  height: 14px;
  width: 14px;
  background-color: #333333;
}

::-webkit-scrollbar-thumb {
  background-color: #505050;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #505050;
}
