html {
  overflow: hidden;
}

body {
  background-color: rgb(50, 50, 50);
  color: rgb(195,195,195);
  padding: 0px;
  margin: 0px;
}

#loading-img {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#title-bar {
  -webkit-app-region: drag;
  height: 30px;
  background-color: rgb(50,50,50);
  padding: none;
  margin: 5px;
}

#title {
  top: 11px;
  left: 9px;
  position: fixed;
}

#title-bar-btns {
  position: fixed;
  right: 7px;
  top: 7px;
  background-color: rgb(50,50,50);
  -webkit-app-region: no-drag;
}

.button {
  background-color:rgb(50,50,50);
  border: 1px solid rgb(33,33,33);
  color: white;
  padding: 3px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#movies-table-container {
  height: 93vh;
  overflow: auto;
  display: none;
}

#movies-table {
  margin: auto;
}

#movies-table .caption__media {
  width: 30vw;
  height: 50.226vh;
}

h1, p {
  margin: 0;
  padding: 0 0 .5em;
}

.container {
  margin: 0 auto;
  max-width: 480px;
}

/*
* Caption component
*/
.caption {
  position: relative;
  overflow: hidden;

  /* Only the -webkit- prefix is required these days */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.caption::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: background .35s ease-out;
}

.caption:hover::before {
  background: rgba(0, 0, 0, .5);
}

.caption__media {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.caption__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;

  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  transition: -webkit-transform .35s ease-out;
  transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.caption__overlay__title {
  -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
  transform: translateY( calc(-100% - 10px) );

  transition: -webkit-transform .35s ease-out;
  transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay__title {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.delete_button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.download_button {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

::-webkit-scrollbar {
  height: 14px;
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #505050;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #505050;
}
