html {
  overflow: hidden;
}

body {
  background-color: rgb(50, 50, 50);
  color: rgb(195,195,195);
  padding: 0px;
  margin: 0px;
}

#loading-img {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#title-bar {
  -webkit-app-region: drag;
  height: 30px;
  background-color: rgb(50,50,50);
  padding: none;
  margin: 5px;
}

#title {
  top: 11px;
  left: 9px;
  position: fixed;
}

#title-bar-btns {
  position: fixed;
  right: 7px;
  top: 7px;
  background-color: rgb(50,50,50);
  -webkit-app-region: no-drag;
}

.button {
  background-color:rgb(50,50,50);
  border: 1px solid rgb(33,33,33);
  color: white;
  padding: 3px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#main-section {
  height: 100vh;
  margin: 0 auto;
  overflow: auto;
}

#rig {
    width: 100%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    display: none;
}

#rig li {
    display: inline-block;
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.rig-cell {
    display:block;
    position: relative;
    overflow:hidden;
}

.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}

.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: rgba(0, 0, 0, .5);
    opacity:0;
    transition:all 0.6s;
}

#rig li:hover .rig-overlay {
    opacity:0.8;
}

.rig-text {
  display:block;
  padding:0 30px;
  box-sizing:border-box;
  position:absolute;
  left: 0;
  top: 10px;
  width:100%;
  text-align:left;
  text-transform:capitalize;
  font-size:16px;
  font-weight:bold;
  font-family: 'Oswald', sans-serif;
  font-weight:normal;
  color:white;
  opacity:0;
  transform:translateY(-20px);
  transition:all .3s;
  cursor: pointer;
}

#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

.delete_button {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 5px;
  right: 5px;
}

.download_button {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 5px;
  left: 5px;
}

#reviews-overlay {
  position: absolute;
  display:block;
  margin: auto;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  /*
  width: 80%;
  height: 80%;
  */
  background: white;
  display: none;
  overflow: auto;
}

#reviews-overlay-close {
  height: 25px;
  width: 25px;
  position: fixed;
  top: 10px;
  right: 20px;
}

#reviews {
  padding-left: 10px;
  padding-top: 20px;
  text-align: left;  
}

@media (max-width: 2000px) {
    #rig li {
        width:20%;
    }
}

@media (max-width: 1400px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 1100px) {
    #rig li {
        width:33%;
    }
}

@media (max-width: 800px) {
    #rig li {
        width:50%;
    }
}

@media (max-width: 500px) {
    #rig li {
        width:100%;
    }
}

::-webkit-scrollbar {
  height: 14px;
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #505050;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #505050;
}
